.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-gap: 16px;
  grid-auto-rows: minmax(213px, auto);
  max-width: 1184px;
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .photo-grid {
    grid-gap: 14px;
  }
}

@media screen and (min-width: 1230px) {
  .photo-grid {
    grid-template-columns: repeat(4, minmax(284px, 1fr));
  }
}
