.header {
  display: flex;
  text-align: right;
  width: 1184px;
  margin: 0 auto;
  padding: 28px 0 56px;
  max-height: 52px;
}

@media screen and (max-width: 1024px) {
  .header{
    width: 928px;
  }

}
