.header {
  display: flex;
  width: calc(100% - 96px);
  /*padding: 28px 48px 56px; */
  max-height: 52px;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 48px;
  }
}


