.lead__title {
  color: #fff;
  margin: 0;
  max-width: 720px;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  box-sizing: border-box;
}

@media screen and (max-width: 575.98px) {
  .lead__title {
    line-height: 1.1;

  }
}

@media screen and (max-width: 767.98px) {
  .lead__title {
    max-width: calc(100% - 32px);
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .lead__title {
    max-width: calc(100% - 48px);
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .lead__title {
    max-width: calc(100% - 304px);
  }
}
