.footer__links {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

@media screen and (max-width: 767.98px) {
  .footer__links {
    -webkit-box-orient: vertical;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
