.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  margin: 32px 0 64px;
}

@media screen and (max-width: 767.98px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: calc(100% - 32px);
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .lead__subtitle {
    max-width: calc(100% - 128px);
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .lead__subtitle {
    max-width: calc(100% - 384px);
  }
}

