.cover {
  position: relative;
  background-image: url(../../images/__background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1184px;
  max-height: 740px;
  aspect-ratio: 592/370;
  margin: 0 auto;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1199.98px) {
  .cover {
    width: 100%;
  }
  }
