.place {
  display: grid;
  grid-template-areas:
  "title link"
  "image text";
  grid-template-columns: minmax(320px, 1fr)  minmax(288px, 484px);
  grid-template-rows: auto auto;
  gap: 48px 40px;
  max-width: 984px;
  color: #fff;
}

@media screen and (max-width: 767.98px) {
  .place {
    grid-template-columns: 1fr;
    min-width: 320px;
    grid-template-areas:
    "title"
    "link"
    "image"
    "text";
    gap: 32px;
    }
}

@media screen (min-width: 768px) and (max-width: 991.98px) {
  .place {
    gap: 48px 28px;
    grid-template-columns: minmax(auto, 460px) minmax(340px, 352px);
  }
}

@media screen (min-width: 992px) and (max-width: 1199.98px) {
  .place {
    gap: 48px 32px;
    grid-template-columns: minmax(auto, 460px) minmax(440px, 456px);
  }
}


@media screen and (min-width: 1200px) {
  .place {
    grid-template-columns: minmax(auto, 1fr) minmax(460px, 484px);
  }
}
