.place__website {
  grid-area: link;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: end;
}

@media screen and (max-width: 576px) {
  .place__website {
    margin-left: 16px;
  }
}
